<ul class="menu">
	<li>
		<select ng-model="currentMonth" ng-change="getRange()">
			<option ng-repeat="month in months" ng-value="$index" ng-bind="month" ng-selected="$index == currentMonth"></option>
		</select>
	</li>
	<li>
		<select ng-model="currentYear" ng-change="getRange()">
			<option ng-repeat="year in years" ng-value="year" ng-bind="year" ng-selected="year == currentYear"></option>
		</select>
	</li>
</ul>
<table>
	<tr>
		<td ng-repeat="item in range.days" class="item" ng-class="{grey: isNotCurrentMonth(item.date, $index)}">
			<span ng-bind="item.day"></span>
		</td>
	</tr>
</table>