.menu {
	display:block;
	float:left;
	list-style-type:none;
	clear:both;
}
.menu li {
	float:left;
}
table {
	display:block;
	float:left;
	width:1094px;
}
.item {
	display:inline-block;
	width:150px;
	height:150px;
	border:1px solid #808080;
}
.grey {
	background-color:#808080;
	outline:1px solid #000;
}